.wrapper {
    background-color: #f2f4f5;
}

/* 二级导航 */

.second_content {
    height: 80px;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
}

.second_nav {
    color: #333333;
    width: 150px;
    height: 80px;
    text-align: center;
    font-size: 32px;
    line-height: 80px;
    border-bottom-width: 6px;
    border-bottom-color: #fff;
}

.second_nav_choose {
    color: rgb(211, 58, 49);
    border-bottom-width: 6px;
    border-bottom-color: rgb(211, 58, 49);
}